body {
    background-color: #ffffff;
    margin: 0px;
    overflow: hidden;
}
.dg.ac {
    z-index: 1 !important; /* FIX DAT.GUI */
}
.copyright {
    position: absolute;
    z-index: 10;
    padding:50px;
    bottom:0;
    color:white;
}
.floorplan {
    display: block;
    position: absolute;
    z-index: 10;
    padding:10px;
    max-width:200px;
    max-height:200px;
    color:white;
    opacity: 0.7;
}
.floorplan .radar img {
    margin-left: auto;
	margin-right: auto;
}
.watermark {
    position: absolute;
    z-index: 10;
    right:0;
    bottom:0;
    padding:50px;
    color:white;
}
.onepix-imgloader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
}
/*hide the second element in the loading container (first element is the leading img)*/
.loading-container > *:not(.onepix-imgloader) {
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
}
.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 40px;
}
#threejs-container {
/*    min-width: 400px;*/
width: 1px;
}
.dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
}

.dg.main .close-button {
    background-color: #ccc;
}
 
.dg.main .close-button:hover {
    background-color: #ddd;
}

.dg {
    color: #555;
    text-shadow: none !important;
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}
 
.dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}
 
.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: #fff;
}
 
.dg .c input[type=text] {
    background: #e9e9e9;
}
 
.dg .c input[type=text]:hover {
    background: #eee;
}
 
.dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
}
 
.dg .c .slider {
    background: #e9e9e9;
}

.dg .c .slider:hover {
    background: #eee;
}

#init-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    z-index: 999;

}
