<!DOCTYPE html>
<html lang="en">

<head>
	<title>pano 0.0.1</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
		<hr>

		<a href="{{ url_for('index') }}">home</a> | <a href="{{ url_for('upload') }}">upload</a> | <a href="{{ url_for('admin') }}">admin</a>

		<hr>
    {% block content %}
    {% endblock %}


</body>

</html>