{% extends "base.html" %}
{% block content %}


<div style="display:flex;">
{% for pano in test %}

<div class="card" style="width: 18rem;">
    
        <img class="card-img-top" src="/static/pano/{{pano.name}}/{{pano.thumb_img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pano.name}}</h5>
          <p class="card-text">{{pano.desc}}</p>
          <a href="{{url_for('pano', id=pano.id)}}" class="btn btn-primary">edit</a> 
          <a href="{{url_for('pano', id=pano.id)}}" class="btn btn-primary">publish</a> 
          <p style="height:2px;"></p>
          <a href="{{url_for('pano', id=pano.id)}}" class="btn btn-primary">low</a> 
          <a href="{{url_for('pano', id=pano.id)}}" class="btn btn-primary">mid</a> 
          <a href="{{url_for('pano', id=pano.id)}}" class="btn btn-primary">high</a>
          <a href="{{url_for('pano_delete', id=pano.id)}}" class="btn btn-danger">del</a>
        </div>
      </div>

{% endfor %}
</div>



{% endblock %}