<!DOCTYPE html>
<html lang="en">

<head>
	<title>pano 0.0.1</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<script src="https://cdn.jsdelivr.net/gh/heartcode/CanvasLoader@0.9.1/js/heartcode-canvasloader-min.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>

	<script src="/static/js/threejs/three.min.js"></script>
	<script src="/static/js/threejs/OrbitControls.js"></script>
	<script src="/static/js/threejs/EffectComposer.js"></script>
	<script src="/static/js/threejs/RenderPass.js"></script>
	<script src="/static/js/threejs/ShaderPass.js"></script>
	<script src="/static/js/threejs/CopyShader.js"></script>
	<script src="/static/js/threejs/DotScreenShader.js"></script>
	<script src="/static/js/threejs/UnrealBloomPass.js"></script>
	<script src="/static/js/threejs/ConvolutionShader.js"></script>
	<script src="/static/js/threejs/LuminosityHighPassShader.js"></script>
	<script src="/static/js/threejs/dat.gui.min.js"></script>
	<script src="/static/js/threejs/RgbShiftShader.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>

	<script type=text/javascript>
		var pano_option = ({{ pano_option|tojson|safe }});
		var pano_id_from_jinja = ({{ pano.id|tojson|safe }});
		const FG_IMG = '{{pano.fg_img}}'
		const BG_IMG = '{{pano.bg_img}}'
		const ALPHA_IMG = '{{pano.alpha_img}}'
		const EMISSIVE_IMG = '{{pano.emissive_img}}'
		const THUMB_IMG = '{{pano.thumb_img}}'
		const FLOORPLAN_IMG = '{{pano.floorplan_img}}'
		const PANO_NAME = '{{pano.name}}'
		const CLASS_ID_FLOORPLAN = document.getElementsByClassName("floorplan");

		function getPanoParams() {
			// processes pano state if available
			// return json
			if (pano_option != 0) {
				return ({{ pano_option|tojson|safe }});

			} else {

				const default_settings = {
					CA: false,
					FGLightMap: 0.5,
					FGLightMapColor: "#ffffff",
					bg_brightness: 0.45,
					exposure: 1.8,
					bloomStrength: 0,
					bloomThreshold: 0,
					bloomRadius: 0,
					focalLength: 50,
					enableMinimap: true,
					fg_alpha: 0,
					pano_id: pano_id_from_jinja
				};

				return default_settings;
			};
		};

		params = getPanoParams();

</script>


<!--
	<div class="sk-folding-cube">
		<div class="sk-cube1 sk-cube"></div>
		<div class="sk-cube2 sk-cube"></div>
		<div class="sk-cube4 sk-cube"></div>
		<div class="sk-cube3 sk-cube"></div>
	  </div>
-->



	<input id="clickMe" type="button" value="clickme" onclick="postOption();" />


	<div id='overlay'></div>


	<div id="contenty"></div>

	<div class="loading-container">
		<div id="container">

		</div>
	</div>

	<div class="floorplan">
		<img style="border: 1px solid;box-shadow: 5px 5px 5px #0000002c;width:100%; height:100%;" src="{{ url_for('static', filename='pano/default/default_floorplan.jpg') }}">
		<div id="radar">
			<img style="width:50px; height: 50px;" src="{{url_for('static', filename='img/fov_icon.png')}}">
		</div>
	</div>


	<div class="copyright">
		pubpano
		<br> alpha 0.0.1
		<br>
	</div>

	<div class="watermark">
		visualhouse
	</div>



	<div id="container"></div>



	<script src="/static/js/pano_gui.js"></script>
	<script src="/static/js/pano_LoadingManager.js"></script>
	<script src="/static/js/pano_orbitcontrols.js"></script>
	<script src="/static/js/pano_materials.js"></script>
	<script src="/static/js/pano_composer.js"></script>
	<script src="/static/js/pano_loading.js"></script>
	<script src="/static/js/pano.js"></script>


	<script>

		// gui
		gui();
		update();

	</script>




	<script>
		window.onload = function () {
			$("#overlay").fadeOut(100);
		}
	</script>



</body>

</html>